thead {
    text-align: center;
}

td {
    overflow: auto;
    /* text-overflow: ellipsis; */
    white-space: initial;
    text-align: center;
    max-width: 150px;
}

.table-body.dark {
    opacity: 0.5;
    transition: opacity 0.2s;
}